*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#navbar{
  position:fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background: green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  transform: 0.5s ease;
  z-index: 1000;
}
#navbar.scrolled {
    background: #1e1e1e;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}
.logo{
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.nav-link{
  display: flex;
  list-style: none;
}
.nav-link li{
  margin-left: 25px;
}
.nav-link a{
  text-decoration: none;
  color: white;
  font-size: 16px;
  position: relative;
  padding: 5px 0;
  transition: 0.3s ease;
}

.nav-link a::after{
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #00e5ff;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.nav-link a:hover{
  color: #00e5ff;
}
.nav-links a:hover::after {
    width: 100%;
}

.content{
  margin-top: 100px;
  padding: 50px;
}

.spacer {
    height: 1500px;
}